* {
  margin: 0;
  padding: 0;
}

.list {
  padding: 8px;
  border: 0.5px solid rgb(114, 112, 112);
  border: none;
  cursor: pointer;
}
.list:hover {
  background: rgb(100, 99, 99);
  border: block;
  border-radius: 25%;
}

.percentage {
    align-items: center;
}

.btn{
    align-items: center;
}

.first{
    display: flex;
    align-items: center;
    justify-content: center;
   
}

.second{
    display: flex;
    align-items: center;
    justify-content: center;
}

.profilesecond{
display: flex;
justify-content: space-evenly;
}

.statistics-dropdown{
  display: flex ;
  justify-content: space-around;
}

.active-patient{
  display: flex;
    flex-direction: row;
  justify-content:space-between;
  align-items: center;
  margin: 10px 0;
  
}

.profile-two{
  margin-left: 36px;
}